<div class="media-gallery">
    {% for media in mediaList %}
        <figure>
            <img src="{{ media_path(media, true, true, 'media_gallery') }}"
                 alt="{{ media.description }}"
                 class="media"/>
            <figcaption>{{ media.name }}</figcaption><br/>
        </figure>
    {% endfor %}
</div>
{# add br to ensure tinymce will not append elements inside the media gallery #}
<br/>
<br/>
