<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="var/.phpunit.result.cache"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src/</directory>
    </include>
    <exclude>
      <directory>Resources</directory>
      <directory>Debug</directory>
      <directory>Tests</directory>
      <directory>vendor</directory>
      <directory>DataFixtures</directory>
    </exclude>
    <report>
      <clover outputFile="var/phpunit/logs/clover.xml"/>
      <html outputDirectory="var/phpunit/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="MediaBundle Test Suite">
      <directory>tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="KERNEL_DIR" value="tests/phpunit/TestKernel"/>
    <server name="APP_SECRET" value="secret"/>
    <server name="APP_ENV" value="test"/>
    <server name="DATABASE_URL" value="postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=13"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
  </php>
  <logging>
    <junit outputFile="var/phpunit/logs/junit.xml"/>
  </logging>
</phpunit>
