.cms-media-image.selected {
  opacity: 0.4;
}

.media-choice-item.media-gallery-container {
  height: 400px;
  overflow-y: scroll;
}

// Fix Bootstrap pagination for french translations
.page-item.prev,
.page-item.next {
  .page-link {
    display: inline-block;
    width: 120px;
  }
}

#media-modal {
  .pagination {
    width: 500px;
  }
}
