div[data-controller="jk-media-gallery"] {
  .card {
    //margin-bottom: 20px;
    cursor: pointer;

    &.selected {
      border: 1px solid #007bff;
    }

    img {
      //max-height: 100px;
      cursor: pointer;
    }
  }


  div.pagination {
    justify-content: center;
  }

  .pager {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
  }
}


//.cms-media-image.selected {
//  opacity: 0.4;
//}
//
//.media-choice-item.media-gallery-container {
//  height: 400px;
//  overflow-y: scroll;
//}
//
//// Fix Bootstrap pagination for french translations
//.page-item.prev,
//.page-item.next {
//  .page-link {
//    display: inline-block;
//    width: 120px;
//  }
//}
//
//#media-modal {
//  .pagination {
//    width: 500px;
//  }
//}
