<div id="media-loader-container" class="d-none">
    <div id="media-loader" class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">{{ 'jk_media.loading' | trans }}</span>
        </div>
    </div>
</div>
